body{
    background-color: rgb(243, 244, 210);
}

h1 {
    text-align: center;
    color: orange;
}

h2 {
    color: rgb(16, 150, 195);
    border-left: 5px solid #4a90e2;   /* הפס הכחול בצד */

}

.strong {
    color: rgb(206, 73, 7);
}

div > h2{
    background-color: rgb(188, 212, 234);
}

div > ul,ol{
    background-color: rgb(188, 212, 234);
}
