.top {
  position: absolute;
  top: 0px;
  left: 0px;
  width : 300px;
  background-color: rgba(75, 0, 82, 0.3); 
  color: rgba(0, 0, 0, 0.3); ;
  padding: 20px;
  font-size: 24px;

}

.bottom {
  position: absolute;
  top: 65px;
  left: 0px;
  width : 300px;
  background-color: #4B0052;
  padding: 20px;
  font-size: 24px;


}