body {
    background-color: rgb(235, 235, 225);
}

h1 {
    text-decoration: underline;
    text-align: center;  
}

h2 {
    color: aqua;
    border-bottom: 3px solid aqua;

}

.type1 {
    color: rgb(22, 29, 22);
}

.type2 {
    color: purple;
}